.crayon-add-annotation-view {
  bottom: 20px;
  height: 20px;
  opacity: 0.7;
  position: fixed;
  right: 20px;
  transition: opacity 300ms ease-out;
  width: 20px;

  &.active {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
