.crayon-sidebar-wrapper-view {
  background: $white;
  bottom: 0;
  box-shadow: 0 0 5px $grey;
  max-width: 450px;
  min-width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  width: 33%;

  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }
}
