.crayon-text-editor-wrapper-view {
  background: $paper;
  border: solid 1px $paper_dark;
  bottom: 0;
  height: 180px;
  left: 50%;
  margin-left: -270px;
  position: fixed;
  width: 540px;

  iframe {
    border: none;
    height: 100%;
    margin: 0;
    width: 100%;
  }

  .crayon-close-text-editor {
    background: $purple;
    border: solid 1px $purple_dark;
    color: white;
    cursor: pointer;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -40px;
    text-align: center;
    top: -1px;
    width: 40px;

    i {
      vertical-align: middle;
    }
  }
}
