// colors
$grey: #444;
$light_grey: #e2e2e2;
$grey_med: #666;
$paper: #ece6e6;
$paper_dark: #c3bcbc;
$purple: rgb( 150, 78, 155 );
$purple_dark: #5e3161;
$purple_trans: rgba( 150, 78, 155, 0.2 );
$purple_trans_dark: rgba( 150, 78, 155, 0.4 );
$white: #fff;

// fonts
$default_serif: 'Lora', serif;
$default_serif_bold: 'Lora Bold', serif;
$default_serif_italic: 'Lora Italic', serif;
$default_sans: 'Source Sans Pro Light';
$default_sans_bold: 'Source Sans Pro Semibold';
$default_sans_italic: 'Source Sans Pro Light Italic';

// font-sizes -- necessary to avoid base page interference
$size1: 12px;
$size2: 16px;
$size3: 21px;
$size4: 28px;
